nav .indicator {
    position: fixed;
    right: 20px;
}

@media screen and (min-width: 890px) {
    nav .indicator {
        right: calc(50% - 410px);
    }
}

.open-shuffle {
    margin-left: 3px;
}

span.openbtn {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: #444;
}

span.openbtn:hover {
    cursor: pointer;
    color: #3b5998;
}

.shuffleWords {
    font-size: 35px;
    color: #444;
}

.shuffleWords > .fa-random:hover {
    color: #3b5998;
}



@media screen and (min-width: 880px) {
    nav .indicator {
        margin-left: calc(50% - 450px);
    }
}

nav.hidden {
    width: 200px;
    display: none;
}

.sidenav {
    height: 70%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17,17,17, 0.9);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .curday  {
    margin-left: calc(50% - 110px);
}

@media screen and (min-width: 1300px) {
    .sidenav {
        left: calc(30% - 200px);
    }
}

@media screen and (max-width: 380px) {
    .sidenav {
        height: 80%;
    }
}

@media screen and (max-width: 330px) {
    .sidenav {
        height: 80%;
    }
}

.sidenav .level-box {
    margin-left: 15px;
}

.sidenav .curday {
    cursor: default;
}


.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .curday:hover {
    color: #818181;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/*@media screen and (min-width: 648x) {*/
/*    .sidenav {padding-top: 15px;}*/
/*    .sidenav a {font-size: 18px;}*/
/*}*/

.menu {
    font-size: 30px;
    cursor: pointer;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}
.number {
    text-align: center;
    color: #ddd;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-weight: lighter;
    font-size: 1.2em;
    font-weight: 100;
    margin: 5px;
    border: 1px solid #ddd;
    padding: 2px;
    cursor: pointer;
}
.number:hover {
    cursor: pointer;
    color: red;
    background-color: #3498db;
}


span.numday {
    display: inline-block;
    margin-top: 30px;
    padding: 2px 4px 2px 4px;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #444;
    background-color: #3b5998;
    color: white;
    margin-left: 4px;
}

/*span.numday:hover {*/
/*    background-color: #3b5998;*/
/*    color: white;*/
/*}*/

.printer {
    width: 32px;
    margin-top: 5px;
    margin-left: 4px;
    cursor: pointer;
}
.printer:hover {
    transform: scale(0.9);
}


.printer-icon {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .printer-icon {
        display: none;
    }
}

.level-box > a.active {
    color: white;
}

.active {
    background-color: #3498db;
    color: white;
}


