* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    margin:60px 40px 10px 40px;
    background-color: #eee;
    overscroll-behavior: contain;
}

/* Style home buttons */

.btn {
    border: none; /* Remove borders */
    color: #444; /* White text */
    padding: 2px 1px; /* Some padding */
    font-size: 40px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
.btn:hover {
    color: #3b5998;
}
.home {
    margin-top: 30px;
    margin-right: 4px;
}
/* Darker background on mouse-over */

.level-box {
    display: flex;
}
.level-box > .day {
    cursor: pointer;
}

#wrapper {
    max-width: 768px;
    margin: 20px auto 0;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
}

@media screen and (max-width: 800px) {
    #wrapper {
        height: 700px;
    }
}

@media screen and (max-width: 330px) {
    #wrapper {
        height: 400px;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
#wrapper::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
#wrapper {
    -ms-overflow-style: none;
}

/* game grid */
.game {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /*margin-left: 20px;*/
    letter-spacing: 1.5px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media screen and (max-width: 330px) {
    .game {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        font-size: 0.9em;
        text-align: center;
    }
}

.box {
    background-color: #444;
    line-height: 1.4;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    text-align: center;
    transition: all 0.2s ease-in-out;
}


/* start button */
.start {
    position: fixed;
    top: 100px;
    background-color: #3b5998; /* blue */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: 1.2px;
}
.start:hover {
    background-color: #4CAF50; /* green */
}

/* mode */
.mode {
    position: fixed;
    left: 50px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.mode > a {
    font-size: 1.5em;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background: rgba(70, 112, 105, 0.6);
    color: white;
    border-radius: 5px;
}


/* index */
.index {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 70%;
    left: 20px;
    right: 20px;
}



.index > a {
    font-size: 33px;
    height: 100%;
    line-height: 100%;
    text-decoration: none;
    display: inline-block;
    padding: 4px;
    color: #444;
    cursor: pointer;
}


.index.hidden {
    display: none;
}

/* tool tips */

.tooltip-output {
    z-index: 100;
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    background-color: #444;
    color: white;
    padding: 5px;
    top: 100px;
    left: 50px;
}







